#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Lock files
*.lock.hcl

# .pkrvars files (auto-loaded contain sensitive data)
*.auto.pkrvars.hcl

# Packer manifest output
packer-manifest.json